.cards {
  padding: 70px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 80px auto;
  width: 320px;
  height: 36px;
  background: #2f2f2f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.21;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.more:hover {
  opacity: 0.4;
  transition: opacity 0.5s ease-out;
}

.more:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
  .cards {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 740px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);    
  }
}

@media screen and (max-width: 450px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);    
  }

  .more {
    width: 240px;
  }
}