.portfolio {
  background: #202020;
  color: #fff;
  width: 100%;
}

.portfolio__container {
  max-width: 1140px;
  padding: 0 5.5% 125px 5.5%;
  margin: auto;
}

.portfolio__title {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
  margin: 0 0 50px 0;
  color: #8b8b8b;
}

.portfolio__line {
  height: 1px;
  background: #424242;
  margin: 19px 0 20px 0;
}

.portfolio__site {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__name-site {
  font-size: 30px;
  line-height: 1.66;
  font-weight: 400;
  margin: 0;
}

.portfolio__link-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.portfolio__img {
  height: 41px;
  width: 29px;
  background-image: url('../../images/link.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.portfolio__link-site:hover {
  opacity: 0.4;
  transition: opacity 0.5s ease-out;
}

@media screen and (max-width: 450px) {
  .portfolio__container {
    padding: 0 3% 70px 3%;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
    margin: 0 0 40px 0;
  }

  .portfolio__name-site {
    font-size: 18px;
    line-height: 1.55;
  }

  .portfolio__img {
    height: 28px;
    width: 18px;
  }
}
