.filter {
    display: flex;
    color: #fff;
    margin-right: 30px ;
}

.filter__button {
    width: 36px;
    height: 20px;
    background-color: #2f2f2f;
    background-image: url("../../images/filter.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 14px 0 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.filter__button:focus {
    background-image: url("../../images/filter-off.svg");
    transition: all 0.5s ease-out;
    outline: none;
}

.filter__name {
    font-size: 14px;
    line-height: 1.38;
    font-weight: 400;
}