.about-project {
    background: #202020;
    color: #fff;
    width: 100%;
}

.about-project__container {
    max-width: 1280px;
    padding: 110px 5.5% 105px 5.5%;
    margin: auto;
}

.about-project__title {
    font-size: 22px;
    line-height: 1.21;
    font-weight: 400;
    margin: 0;
}

.about-project__line {
    height: 1px;
    background: #dadada;
    margin-top: 23px;
}

.about-project__info {
    margin: 70px 0 110px 0;
    display: flex;
    justify-content: space-between;
}

.about-project__card {
    max-width: 550px;
}

.about-project__card-title {
    font-size: 20px;
    line-height: 1.21;
    font-weight: 400;
    margin: 0 0 26px 0;
}

.about-project__text {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    margin: 0;
}

.about-project__time {
    display: flex;
    font-size: 14px;
    line-height: 1.21;
}

.about-project__backend-time {
    background: #3ddc84;
    color: #000;
    text-align: center;
    width: 20%;
    padding: 10px 0;
}

.about-project__frontend-time {
    background: #303030;
    color: #fff;
    text-align: center;
    width: 80%;
    padding: 10px 0;
}

.about-project__task {
    display: flex;
    font-size: 14px;
    line-height: 1.21;
    color: #8b8b8b;
}

.about-project__backend {
    text-align: center;
    width: 80%;
    padding: 10px 0;
    width: 20%;
}

.about-project__frontend {
    text-align: center;
    width: 80%;
    padding: 10px 0;
    width: 80%;
}
