.footer {
  background: #202020;
  color: #fff;
  width: 100%;
}

.footer__container {
  max-width: 1140px;
  padding: 79px 5.5% 20px 5.5%;
  margin: auto;
}

.footer__text {
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
  color: #8b8b8b;
  text-align: center;
}

.footer__line {
  height: 1px;
  background: #424242;
  margin: 20px 0;
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
}

.footer__links {
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.footer__link:hover {
  opacity: 0.4;
  transition: opacity 0.5s ease-out;
}

@media screen and (max-width: 450px) {
  .footer__container {
    padding: 79px 3% 10px 3%;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__line {
    margin: 21px 0 30px 0;
  }

  .footer__main {
    flex-direction: column;
    align-items: center;
  }

  .footer__links {
    font-size: 12px;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin: 0 0 12px 0;
  }

  .footer__copyright {
    font-size: 12px;
    margin-top: 18px;
    color: #8b8b8b;
  }

  .footer__link_facebook {
    order: 2;
  }

  .footer__link_github {
    order: 1;
  }
}
