.nav-button {
    position: relative;
    width: 129px;
    height: 36px;
    color: #fff;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    background: #073042;
    border: none;
    margin: 84px 0 0 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .nav-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 1px solid #fff;
    opacity: 0.6;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .nav-button:focus {
    outline: none;    
  }
  
  .nav-button:hover {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s ease-out;
  }